body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: #222;
    background-image: url(https://picsum.photos/1600/900/?blur);
    font-size: 120%
}

.card {
    background: #000000d0;
    color: white;
    padding: 3em;
    border-radius: 40px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search {
    display: flex;
    align-items: center; 
    justify-content: center;
}

button {margin: 0.5em;border-radius: 50%;border: none;height: 44px;width: 44px;outline: none;color: white;background: #7d7d7d2b;cursor: pointer;transition: 0.5s ease-in-and-out;}

input.search-bar {
    border: none;
    outline: none;
    padding: .5em 1em;
    border-radius: 24px;
    background: #7d7d7d2b;
    color: white;
    font-family: inherit;
    font-size: 100%;
    width: calc(100% -100px)
}

button:hover {
    background: #7d7d7db1;
}

h1.temp {
    margin: 0;
}

.description {
    text-transform: capitalize;
}